body{
    background-image: url(./background2.jpg);  
    background-size: cover;
}

.login-page{
    background-image: url(./background.jpg);
    background-size: cover;

}
    


h1{
    
    text-align: center;
    font-size: 75px;
}

.form-box {
    background-color: rgb(227, 222, 204);
    opacity: 0.5;
    padding: 1px;
    max-width: 75%;
}
.wrapper{
    width: 100%;
}
.world{
    width: 60%;
}

h2{
    padding: 50px;
    float: left ;
    color: white;
    text-align: center;
}

.logs
{
    font-family: 'Faster One', cursive;
}

.bucket{
    font-family: 'Fredericka the Great', cursive;
}

.link{
    font-family: 'Londrina Sketch', cursive;
}

.search{
    font-family: 'Cabin Sketch', cursive;
}

.cardDisplay{
    font-family: 'Inknut Antiqua', serif;
}