body{
    background-image: url(./background2.jpg);  
    background-size: cover;
}

.login-page{
    background-image: url(./background.jpg);
    background-size: cover;

}
    


h1{
    text-align: center;
    font-size: 75px;
}

.form-box {
    background-color: rgb(227, 222, 204);
    opacity: 0.6;
    padding: 15px;
    max-width: 100%;
}
.wrapper{
    width: 100%;
}
.world{
    width: 60%;
}

